:root {
    font-size: 10px;
    font-family: Verdana, Arial, Geneva, Tahoma, sans-serif;

    --main-1: #1a6706;
    --main-2: #31ac13;
    --main-3: #b5e396;
    --main-4: #fffa00;
    --hydro-1: #2F8F9D;
    --hydro-2: #3BACB6;
    --hydro-3: #82DBD8;
    --hydro-4: #B3E8E5;
    --solar-1: #ffa505;
    --solar-2: #ffc905;
    --solar-3: #ffe505;
    --solar-4: #fffb05;
    --geo-1: #8E3200;
    --geo-2: #A64B2A;
    --geo-3: #D7A86E;
    --geo-4: #FFEBC1;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.image-container .source {
    font-size: 2rem;
    text-align: center;
}

.image-container .source a {
    color: var(--main-1);
    text-decoration: underline;
}

.image-container .caption {
    font-size: 4rem;
}

.accordion {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 3rem;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .accordion-text {
    color: #fff;
    font-size: 1.5rem !important;
    padding: 0 18px;
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-text p {
    font-size: 1.5rem;
    margin: 2vw;
  }

  .accordion-text a {
    color: rgb(255, 255, 0)
  }